@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0a3641;
  padding: 60px;
  font-family: "Montserrat";
  font-weight: 800;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row img {
  max-width: 1250px;
}
.row-2 {
}
