@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: center;
}

.top-nav {
  text-decoration: none;
  color: #0a3641;
  padding: 60px;
  font-family: "Montserrat";
  font-weight: 800;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row img {
  max-width: 1256px;
}
.row-2 {
  max-width: 1250px;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
h1 {
  color: #0a3641;
  margin: auto;
  text-align: center;
  border
  font-family: 'Montserrat', sans-serif;
  font-family: 'Permanent Marker', cursive;
}
h2 {
  color: #0a3641;
  margin: auto;
  text-align: center;
  border
  font-family: 'Montserrat', sans-serif;
  font-family: 'Permanent Marker', cursive;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.row-3 {
  max-width: 1600px;
  margin: auto;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 2%;
}

.button1 {
  background-color: #000000;
  font-weight: 800;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1.5%;
}

.button2 {
  background-color: #000000;
  font-weight: 800;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1.5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(247, 23, 23);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.row-4 {
  float: left;
}